In [1]:
import pandas as pd
import os
import csv

In [2]:
def NormalizeStat(stat, min_, max_):
    return (stat - min_) / (max_ - min_)

In [3]:
df_full_game_log = pd.read_csv(os.path.join('..', "Resources", "full_game_logs.csv"))
df_players = pd.read_csv(os.path.join('..', "Resources", "players.csv"))

df_players.rename(inplace=True, 
    columns={
        'id':'player_id',
        'team':'team_name'
    })

df_full_game_log.rename(inplace=True, 
    columns={
        'year_id':'year',
        'gs':'started'
    })

df_full_game_log.game_location = ['Away' if l == '@' else 'Home' for l in df_full_game_log.game_location]
df_full_game_log.started = [True if s == '*' else False for s in df_full_game_log.started]

df_player_game_logs = df_full_game_log.merge(df_players.loc[:, ['player_id', 'position', 'team_name']], how='inner', on='player_id')

df_player_game_logs = df_player_game_logs.set_index('player_id')

df_rb_2020 = df_player_game_logs.loc[(df_player_game_logs['position'] == 'RB') & (df_player_game_logs['year'] == 2020)].dropna(how='all', axis=1)
df_qb_2020 = df_player_game_logs.loc[(df_player_game_logs['position'] == 'QB') & (df_player_game_logs['year'] == 2020)].dropna(how='all', axis=1)
df_wr_2020 = df_player_game_logs.loc[(df_player_game_logs['position'] == 'WR') & (df_player_game_logs['year'] == 2020)].dropna(how='all', axis=1)
df_te_2020 = df_player_game_logs.loc[(df_player_game_logs['position'] == 'WR') & (df_player_game_logs['year'] == 2020)].dropna(how='all', axis=1)

common_stats = ['week_num', 'team', 'opp', 'game_location', 'game_result', 'started']

# Running Back Analysis

In [4]:
rb_stats = ['rush_att', 'rush_yds', 'rush_yds_per_att', 'rush_td', 'fumbles', 'two_pt_md']
rb_stats = common_stats + rb_stats
df_rb_2020_reduced = df_rb_2020.loc[:, rb_stats].fillna(0)

df_rb_2020_reduced

,week_num,team,opp,game_location,game_result,started,rush_att,rush_yds,rush_yds_per_att,rush_td,fumbles,two_pt_md
player_id,,,,,,,,,,,,
KamaAl00,1,NOR,TAM,Home,W 34-23,True,12.0,16.0,1.33,1.0,0.0,0.0
KamaAl00,2,NOR,LVR,Away,L 24-34,True,13.0,79.0,6.08,2.0,0.0,0.0
KamaAl00,3,NOR,GNB,Home,L 30-37,False,6.0,58.0,9.67,0.0,0.0,0.0
KamaAl00,4,NOR,DET,Away,W 35-29,True,19.0,83.0,4.37,1.0,0.0,0.0
KamaAl00,5,NOR,LAC,Home,W 30-27,True,11.0,45.0,4.09,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
ProsC.00,3,HOU,PIT,Away,L 21-28,False,1.0,1.0,1.00,0.0,0.0,0.0
ProsC.00,4,HOU,MIN,Home,L 23-31,False,0.0,0.0,0.00,0.0,0.0,0.0
ProsC.00,5,HOU,JAX,Home,W 30-14,False,0.0,0.0,0.00,0.0,0.0,0.0
ProsC.00,6,HOU,TEN,Away,L 36-42,False,0.0,0.0,0.00,0.0,0.0,0.0
KillAd00,4,PHI,SFO,Away,W 25-20,False,1.0,-12.0,-12.00,0.0,0.0,0.0